<%= simple_form_for (@bike) do |f|  %>
  <p><%= f.input :name, label: 'What is your bike\'s name?' %></p>
  <p><%= f.input :sku, label: 'What is the SKU?' %></p>
  <p><%= f.input :category, label: "What's the category of the bike?"  %></p>
  <p><%= f.input :price_cents, label: "What's the price of the bike?"  %></p>
  <p><%= f.input :photo, as: :file %></p>
  <p><%= f.submit class: "btn btn-primary"%></p>
<% end %>
