<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>Category: <%= @bike.category %></h3>
      <br>
      <strong>Name: <%= @bike.name %></strong>
      <p><%= @bike.sku  %></p>
      <p>Amount: <%= humanized_money_with_symbol(@teddy.price) %></p>

      <%= cl_image_tag @bike.photo.key, height: 300, width: 350, crop: :fill, :quality=>"auto", :fetch_format=>:auto, class: 'm-1 text-center' %>

    </div>
  </div>
  <%= link_to 'Edit', edit_bike_path(@bike), class: "btn btn-outline-primary" %> |
  <%= link_to 'Delete', bike_path(@bike), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %> |

  <%= link_to "back", root_path %>
</div>
